PUBLIC_CDN_URL=https://cdn.inculva.com
PUBLIC_APP_URL=http://localhost:3000
PUBLIC_FORMSPREE_URL=https://formspree.io/f/XXXXXXXX
SANITY_PROJECT_ID=XXXX
SANITY_DATASET=production
SANITY_TOKEN=XXXXXX
NODE_ENV=development